<ion-content [fullscreen]="true" color="light">

  <h1>Ejercicios</h1>
  
  <ion-list>
    <ion-item *ngFor="let e of ejercicios">
      <ion-card>

        <ion-card-header>
          <ion-card-title>{{ e.nombre }}</ion-card-title>
          <ion-label>
            <h2>{{ e.tipo }}</h2>
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <img alt="{{ e.nombre }}" src='{{ e.imagen }}' />
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
