<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="rutinas">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Rutinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejercicios">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
