.logo {
  /* Ajusta el tamaño máximo de la imagen según tus necesidades */
  max-width: 70px; /* Puedes cambiar el valor según tu preferencia */
  height: auto;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: block;
  width: 50%;
  height: auto;
}

